@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap&font-display=swap');
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #2d9e6b;
  --color-primary-dull: #267a54;
  --color-primary-dark: #1f6644;
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}